<div *ngIf="season" class="container">
    <h2>{{ season.name }}</h2>
    <div>
      <mat-form-field class="mat-full-width">
        <input matInput [(ngModel)]="season.id" disabled="true" placeholder="Id" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-full-width">
        <input matInput [(ngModel)]="season.name" placeholder="Season Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-full-width">
        <input matInput [(ngModel)]="season.initialDate" [value]="season.initialDate"
        [matDatepicker]="initialDate" placeholder="Initial Date" name="initialDate">
        <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
        <mat-datepicker #initialDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat-full-width">
        <input matInput [(ngModel)]="season.supplementalDate" [matDatepicker]="supplementalDate" placeholder="Supplemental Date" name="supplementalDate">
        <mat-datepicker-toggle matSuffix [for]="supplementalDate"></mat-datepicker-toggle>
        <mat-datepicker #supplementalDate></mat-datepicker>
      </mat-form-field>
    </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
</div>
