<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h4>{{currentTeam?.name}} Drafting</h4>
        <app-player-autocomplete #playerSelecter [placeHolder]='placeHolder' (playerSelected)="playerSelected($event)"></app-player-autocomplete>
        <button (click)="saveAndNext($event, playerSelecter, rosters)" #nextButton>Next</button>
        <app-docidraftorder
            (draftOrderSet)="draftOrderSet($event)"
            [currentTeamId]="currentTeam?.id"></app-docidraftorder>
    </div>
    <div class="col-md-6">
      <app-rosters [seasonId]="seasonId" [rosters]="rosters" [teams]="draftOrder"></app-rosters>
    </div>
  </div>
</div>
